{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="col-md-10 col-centered text-center">
            <div class="p--4">
            <h2>Welcome</h2>
                <a href="{% url 'image-upload' %}"><button class="btn btn-primary">Click here to upload Image</button></a>
            </div>
        </div>
    </div>
{% endblock %}