{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
    {% if messages %}
            <div class="alert alert-info m-t-2">
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if not user.is_authenticated %}
            <div class="col-md-7 col-centered">
                <h4>Please login to access the page</h4>
                <a href="{% url 'login' %}"><button class="btn btn-primary" type="submit">Click Here to login</button></a>

            </div>
        {% else %}
        {% if form %}
            <div class="col-md-5 col-centered">
                <div class="login-register p-t-10">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Upload Image</button>
                    </form>
                </div>
            </div>
        {% endif %}
        {% if obj %}
            <div class="col-md-5 col-centered p-t-4">
                <div class="display-image">
                    <h6>{{ obj.name }}</h6>
                    <h6>Byte String Length: : {{ length_of_string }}</h6>
                    <img src="{{ obj.image.url }}" alt="No image">

                </div>
            </div>

        {% endif %}
        {% endif %}
    </div>
{% endblock %}