{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        {% if not user.is_authenticated %}
            <div class="col-md-5 col-centered">
                <div class="login-register p-t-10">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary">LogIn</button>
                    </form>
                </div>
            </div>
        {% endif %}
        {% if messages %}
            <div class="alert alert-info">
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}