{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
            {% if not user.is_authenticated %}
        <div class="col-md-5 col-centered">
            <div class="login-register p-t-10">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
                {% else %}
    <div class="col-md-9 col-centered">
    {% if messages %}
            <div class="alert alert-info">
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <h4>Please save Your Registration Id : {{ user.registration_id }}</h4>
    </div>
        {% endif %}

    </div>
{% endblock %}