/*!
 * Start Bootstrap - Portfolio Item (https://startbootstrap.com/template-overviews/portfolio-item)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-portfolio-item/blob/master/LICENSE)
 */

body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.p-t-10 {
    padding-top: 10%;
}
.p-t-4{
    padding-top: 4%;
}
.m-t-2{
    margin-top: 2%;
}
.display-image img {
    width: 400px;
    margin: auto;
    display: block;
}